<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote %><br>
    <%= f.number_field :quote %>
  </div>
  <div class="field">
    <%= f.label :alert_at %><br>
    <%= f.datetime_select :alert_at %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :cost_per_hour %><br>
    <%= f.number_field :cost_per_hour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
