<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @job.quote %>
</p>

<p>
  <strong>Alert at:</strong>
  <%= @job.alert_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @job.duration %>
</p>

<p>
  <strong>Cost per hour:</strong>
  <%= @job.cost_per_hour %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
