<%= form_for(@stocker) do |f| %>
  <% if @stocker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stocker.errors.count, "error") %> prohibited this stocker from being saved:</h2>

      <ul>
      <% @stocker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :abn %><br>
    <%= f.text_field :abn %>
  </div>
  <div class="field">
    <%= f.label :acn %><br>
    <%= f.text_field :acn %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
